@import url(general.css);

#add-user-page {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1350px;
    margin: 50px auto;
}

#add-user-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}

h1 {
    margin-bottom: 30px;
}

input {
    line-height: 35px;
}

.checkbox-group {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

input[type="checkbox"] {
    width: min-content;
}