@import url(general.css);

#admin-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1350px;
    margin: 50px auto;
}

#user-management-table {
    width: 1350px;
    margin: 40px 0px 20px 0px;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
}

th {
    font-family: var(--title-font), sans-serif;
    font-size: 16.5px;
    font-weight: bold;
    color: var(--darkest-pink);
    border-bottom: 2px solid var(--dark-pink);
    padding-bottom: 10px;
}

th, td {
    word-break: break-word;
    overflow-wrap: break-word;
    margin: auto;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    justify-content: left;
    align-content: left;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.table-button {
    width: 100%;
    font-size: 13px;
    padding: 7px 15px;
}

#add-user-button {
    width: 100%;
}

th:nth-child(1), td:nth-child(1) {
  width: 6%;
}

th:nth-child(2), td:nth-child(2) {
  width: 10%;
}

th:nth-child(3), td:nth-child(3) {
  width: 7%;
}

th:nth-child(4), td:nth-child(4) {
  width: 9%;
}

th:nth-child(5), td:nth-child(5) {
  width: 10%;
}

th:nth-child(6), td:nth-child(6) {
  width: 10%;
}

th:nth-child(7), td:nth-child(7) {
  width: 10%;
}

th:nth-child(8), td:nth-child(8) {
  width: 10%;
}

th:nth-child(9), td:nth-child(9) {
  width: 8%;
}

th:nth-child(10), td:nth-child(10) {
  width: 9%;
}

th:nth-child(11), td:nth-child(11) {
  width: 5%;
}

th:nth-child(12), td:nth-child(12) {
  width: 6%;
}

.links-container {
    font-size: 35px;
    text-align: center;
    color: var(--dark-pink);
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}