@import url(general.css);

#matches-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

#matches-page {
    width: 100%;
}

#main-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.profile {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    gap: 30px;
    padding: 0 20px;
}

.profile-pic {
    flex-shrink: 0;
}

.profile-pic img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.name-tag {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.name-tag img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: contain;
}

.name-tag span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-family: 'Aptos';
    color: white;
    white-space: nowrap;
}

.profile-link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: none;
    border: none;
    cursor: pointer;
}

.profile-link img {
    width: 400px;
    object-fit: contain;
    margin-top: 14px;
}

.profile-link span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 21px;
    font-family: 'Aptos';
    color: white;
    white-space: nowrap;
    margin-top: 5px;
}

.links-container {
    font-size: 35px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 17px;

    & > a {
        font-size: 25px;
        font-family: var(--title-font);
        color: var(--signature-purple);
        text-shadow: 1px 1px 1px var(--dark-pink);
        text-decoration: none;
    }
}