@import url(general.css);

#profile-page {
    padding: 50px;
}

#profile-img {
    width: 300px;
    height: auto;
    object-fit: cover;
}

#main-container {
    display: flex;
    justify-content: center;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    max-width: 100%;
    background-color: white;
}

#profile-container {
    display: flex;
    width: 85%;
    gap: 40px;
}

#left-panel {
    flex: 1;
}

#right-panel {
    flex: 2.5;
    text-align: center;
    margin-bottom: 10px;
}

#profile-card {
    background-color: white;
    border: 2px solid var(--dark-pink);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}

#contact-info h2 {
    text-align: left;
    font-size: 24px;
    color: var(--signature-purple);
    margin-top: 20px;
    margin-bottom: 10px;
}

#contact-details {
    text-align: left
}

.contact-item {
    margin-bottom: 10px;
    color: var(--dark-pink);
}

#contact-label {
    display: inline-block;
    width: 100px;
    color: var(--dark-pink);
}

#profile-details h1 {
    font-size: 40px;
    color: var(--signature-purple);
    margin-bottom: 40px;
    text-align: center;
}

#bio-section h2 {
    text-align: left;
    font-size: 35px;
    color: var(--dark-pink);
    margin-bottom: 10px;
}

#bio-content {
    color: var(--signature-purple);
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
}

.links-container {
    font-size: 35px;
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    gap: 17px;

    & > a {
        font-size: 25px;
        font-family: var(--title-font);
        color: var(--signature-purple);
        text-shadow: 1px 1px 1px var(--dark-pink);
        text-decoration: none;
    }
}