/* import styling from general.css */
@import url(general.css);

#results-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: max(300px, 60%);
    margin: 16px auto;
}

.title {
    text-align: center;
}

.scores-title {
    margin-bottom: 25px;
}

button {
    border-radius: 12px;
}

.pink-container {
    padding: 20px 40px;
    height: fit-content;
}

.links-container {
    font-size: 35px;
    text-align: center;
    color: var(--dark-pink);
    position: fixed;
    top: 0px;
    right: 0px;
    margin: 16px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}